<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.demo">

    <application
        android:name=".Persistance_Object.MyFirebaseApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_sri"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_sri"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_SignUp"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Login"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity_Levels1" />
        <activity android:name=".Main2ActivitySec1" />
        <activity android:name=".Main2ActivitySec2" />
        <activity android:name=".WrongQuestion" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".Activity_Levels2" />
        <activity android:name=".Activity_Levels3" />
        <activity android:name=".Main2ActivitySec3" />
        <activity android:name=".Activity_LevelScore" />
        <activity android:name=".Info" />
        <activity android:name=".Main2ActivityFinal" />
        <activity android:name=".LocalScoreBoard.ScoreActivity" />
        <activity android:name=".LocalScoreBoard.ScoreLevel1" />
        <activity android:name=".LocalScoreBoard.ScoreLevel2" />
        <activity android:name=".LocalScoreBoard.ScoreLevel3" />
        <activity android:name=".LocalScoreBoard.ScoreLevelFinal" />
        <activity android:name=".LeaderBoard.Fundamentals.LeaderBoardAcSec1B" />
        <activity android:name=".LeaderBoard.LeaderScoreActivity" />
        <activity android:name=".LeaderBoard.LeaderLevel1" />
        <activity android:name=".LeaderBoard.LeaderLevel2" />
        <activity android:name=".LeaderBoard.LeaderLevel3" />
        <activity android:name=".LeaderBoard.Fundamentals.LeaderBoardAcSec1E" />
        <activity android:name=".LeaderBoard.Fundamentals.LeaderBoardAcSec1I" />
        <activity android:name=".LeaderBoard.OS.LeaderBoardAcSec2B" />
        <activity android:name=".LeaderBoard.OS.LeaderBoardAcSec2I" />
        <activity android:name=".LeaderBoard.OS.LeaderBoardAcSec2E" />
        <activity android:name=".LeaderBoard.Hardware.LeaderBoardAcSec3B" />
        <activity android:name=".LeaderBoard.Hardware.LeaderBoardAcSec3E" />
        <activity android:name=".LeaderBoard.Hardware.LeaderBoardAcSec3I" />
        <activity android:name=".LeaderBoard.Finale.LeaderBoardAcSecF"></activity>
    </application>

</manifest>